body{
	margin: 0;
}
.header{
	width: 750px;
	height: 90px;
	background-color: #aaa;
	position: relative;
}
.body{
	width: 750px;
	height: 600px;
	background-color: #ccc;
	position: relative;
}
    // <div class="header">
    //   <QfHeader />
    // </div>